fastapi
uvicorn[standard]
sqlalchemy
mysql-connector-python  # Or psycopg2-binary for PostgreSQL, or remove if using SQLite
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
email_validator
python-multipart